azure_datafactory/pipeline/run_cleaning_databricks_workflow.json
{
	"name": "run_cleaning_databricks_workflow",
	"properties": {
		"activities": [
			{
				"name": "Execute Jobs API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"job_id\": @{pipeline().parameters.JobID},\n  \"python_params\": [\n    \"--env\",\n    \"@{pipeline().parameters.env}\"\n  ]\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "34930564-d72b-472a-a9fe-81203764f6a9",
						"username": "a3f7959e-163d-4bb2-af2e-c3f249ac6de6",
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_Az_Kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "service-principal-key"
						}
					}
				}
			},
			{
				"name": "Wait Until Job Completes",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Execute Jobs API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Job Run API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('Execute Jobs API').output.run_id)",
									"type": "Expression"
								},
								"authentication": {
									"type": "ServicePrincipal",
									"userTenant": "34930564-d72b-472a-a9fe-81203764f6a9",
									"username": "a3f7959e-163d-4bb2-af2e-c3f249ac6de6",
									"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "ls_Az_Kv",
											"type": "LinkedServiceReference"
										},
										"secretName": "service-principal-key"
									}
								}
							}
						},
						{
							"name": "Set Job Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Job Run API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.life_cycle_state\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to Recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Job Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitSeconds",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Job State Check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait Until Job Completes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(activity('Check Job Run API').output.state.result_state),'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@string(activity('Check Job Run API').output.state.result_state)",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"JobID": {
				"type": "string",
				"defaultValue": "867408623576928"
			},
			"DatabricksWorkspaceID": {
				"type": "string",
				"defaultValue": "adb-3665822605942945.5"
			},
			"WaitSeconds": {
				"type": "int",
				"defaultValue": 5
			},
			"env": {
				"type": "string",
				"defaultValue": "stephen"
			}
		},
		"variables": {
			"JobStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"folder": {
			"name": "utils"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-03T13:21:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}